<div class="login container">
  <h2 class="mb-5">Login do Sistema</h2>
  <form>
    <div class="form-group">
      <label for="login">Usuario:</label>
      <input type="email" class="form-control" [(ngModel)]="usuario.login" id="login" name="login" placeholder="Informe o Usuario">
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" [(ngModel)]="usuario.senha" id="senha" name="senha" placeholder="Informe a Senha">
    </div>
    <button type="button" (click)="login()" class="btn btn-primary btn-block">Acessar</button>
  </form>
</div>

