<div class="login container">
  <h2 class="mb-5">Login do Sistema</h2>
  <form>
    <div class="form-group">
      <label for="login">Usuario:</label>
      <!-- # no Angular significa que é um campo de referência que pode ser usado como chamada por outras tags não pode ser igual a nenhuma variável definida na class ou método -->
      <input type="email" class="form-control" #email="ngModel" [(ngModel)]="usuario.login" id="login" name="login" placeholder="Informe o Usuario" required="required">
      <div *ngIf="email.invalid" class="alert alert-danger">
        Informe o Usuário!
      </div>
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" #senha="ngModel" [(ngModel)]="usuario.senha" id="senha" name="senha" placeholder="Informe a Senha" required="required">
      <div *ngIf="senha.invalid" class="alert alert-danger">
        Informe a senha!
      </div>
    </div>

    <!-- desabilitando o botão caso os campos estejam vazios -->
    <button type="button" [disabled]="email.invalid || senha.invalid" (click)="login()" class="btn btn-primary btn-block">Acessar</button>
  </form>
</div>

